#customers {
    font-family: firago;
    border-collapse: collapse;
    width: 100%;
}
#customers td, #customers th {
    border: 1px solid #00000008;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.usd {
    background: url(./img/usd.svg);
    display: flex;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    width: 25px;
}

.euro {
    background: url(./img/euro.png);
    display: flex;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    width: 25px;
    background-position: center;
}

.gbp {
    background: url(./img/gbp.png);
    display: flex;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    width: 25px;
}